.cad-page .container-cadastro {
    width: 100%;
    height: 90vh;
    display: flex;
    padding: 2rem;
    border-radius: 1rem;
}

.cad-page .img-box {
    width: 50%;
    height: 100%;
    background-color: #ff5353;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem 0 0 1rem;
}

.cad-page .img-box img {
    width: 100%;
    height: 100%;
}

.cad-page .content-box {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e6e6e6;
    border-radius: 0 1rem 1rem 0;
}

.cad-page .form-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cad-page .form-box h2 {
    font-weight: 700;
    font-size: 2rem;
}

.cad-page form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cad-page .container-form {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cad-page .content-input {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.cad-page .input-container {
    width: 45%;
    display: flex;
    flex-direction: column;
} 

.cad-page .input-box {
    width: 100%;
}

.cad-page .input-box input {
    width: 100%;
}

.cad-page .submit {
    width: 100%;
}